 
<header>



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/navbaradmin/createpolicy"><h4>CreatePolicy</h4> <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/navbaradmin/createuseradmin"><h4>CreateUser</h4> <span class="sr-only"></span></a>
              </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/navbaradmin/createclaim"><h4>CreateCalim</h4></a>
            </li>   
            <li class="nav-item">
                <a class="nav-link" routerLink="/navbaradmin/viewpolicyadmin"><h4>ViewPolicy</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/navbaradmin/viewclaim"><h4>ViewClaim</h4></a>
            </li>
            
          
            <li class="nav-item dropdown">
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
              
            </li>
          </ul>
        </div>
      </nav>
      
    </header>
    
    <router-outlet></router-outlet>
    
    